@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar maincontainer';
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
}

.header-top,
.header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px 30px 30px;
    align-items: center;
}

.acc,
.myprofile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pfp {
    background-image: url("https://avatars.githubusercontent.com/u/74893295?v=4");
    height: 40px;
    width: 40px;
    background-size: cover;
    border-radius: 50%;
}
#pfp2{
    height: 65px;
    width: 65px;
}
.acc-txt{
    font-size: 25px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#search {
    height: 30px;
    width: 550px;
    border-radius: 20px;
    background-color: rgba(218, 228, 230, 0.534);
    border: none;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(31, 153, 224);
    color: white;
    border: none;
}

.notification-btn {
    border: none;
    background-color: transparent;
}

.name {
    /* font-family: 'Fira Sans', sans-serif; */
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
}

.profile-txt {
    font-size: 20px;
}




/* Sidebar */
.sidebar {
    grid-area: sidebar;
    background-color: rgb(31, 153, 224);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 40px;
    color: white;
    padding-left: 20px;
    font-size: 20px;
    padding-top: 20px;
}

.links {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-content ul,
.nav-support ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Main-container */
.main-container {
    grid-area: maincontainer;
    background-color: rgba(218, 228, 230, 0.534);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trending,
.announcements {
    padding: 20px;
}

.card,
.announcements-container,
.project-card {
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
}

.ann,
.trend,
.project-card {
    padding: 15px;
}

.trend {
    display: flex;
    gap: 5px;
    align-items: center;
}

.card-text {
    font-size: 14px;
}

.main-container {
    padding: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 250px;
    gap: 30px;
    padding-bottom: 2rem;
}

.project-card {
    border-left: 15px solid rgb(255, 205, 43);
}